<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Welcome to Daniel's personal website!</h2>
        <p class="lead">System Engineer. DevOps mindset. Amateur photographer. <a target="_blank" href="https://www.instagram.com/dlou1234/">Bike traveler</a>.</p>
        <br />
        I'm still on the way to complete this site, meantime, <a target="_blank" href="https://www.instagram.com/dlou1234/">enjoy the pics!</a>.
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
